# Dependencies
node_modules/

# Build output
lib/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# Coverage
coverage/

# Temporary
tmp/
temp/
